<!DOCTYPE html>
<html lang='en'>
 <head>
   <meta charset='UTF-8'/>
   <title>{{title}}</title>
   <link rel='stylesheet' href="/static/styles/main.css"/>
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500;600;800&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap" rel="stylesheet">
 </head>
 <body>

 <!-- THIS IS THE HEADER -->
 <div class='header'>
   <div class='title' ><a href="{{ url_for('index') }}">MLDS</a></div>
   <div class='headerlinks'>
     <div class='headerlink'><a href="{{ url_for('ai') }}">About the AI</a></div>
     <div class='headerlink'><a href="{{ url_for('learn') }}">Learning Resources</a></div>
   </div>
 </div>

 <div class='headerspacer'></div>

 <div class='pagetitle'>
   <div class='aititle'>Behind the AI</div>
  </div>

 <div class='ai_introduction'>
 	<img src='/static/prettystuff/statistics.svg' class='statistics_svg'>
  <div class='text_background'>
 	  <div class='ai_introduction_text'>This specific AI bases one’s risk on your personal Blood Glucose, Blood Pressure, BMI and Age. Based on the data, we found the largest correlations between diabetes and these parameters. We also believed that these parameters were the most accessible to people, therefore increasing the usability of this AI.
    </div>
  </div>
 </div>

 <div class='ai_introduction'>
  <div class='text_background'>
 	  <div class='ai_introduction_text'>This AI was trained on a data set from a hospital in Frankfurt, Germany using a random forest model. A random forest model runs the data set against many decision trees simultaneously to create an accurate model. A decision tree is a set of questions that become more specific and separate the data set into subcategories as you go down. As the random forest grows its number of trees, it becomes more trained on the data set and can start making predictions on new data sets.
    </div>
  </div>
   <img src='/static/prettystuff/mindmap.svg' class='mindmap_svg'>
 </div>

 <div class='ai_introduction'>
 	<img src='/static/prettystuff/percent.svg' class='yessir_svg'>
  <div class='text_background'>
 	  <div class='ai_introduction_text'>Our Artificial Intelligence model has been optimized to achieve an accuracy rate of 93%. The percentage that our model outputs is the likelihood of it identifying the user as being diabetic. Any percentage above 50% means that our model would predict the user as being diabetic, with a higher percentage reflecting a greater confidence in the prediction.
    </div>
  </div>
 </div>
